@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #fe4a23;
  --secondary: #ffd027;
  --light-gray: #f9f9f9;
  --dark-gray: #0d0d0d;
}

html {
  scroll-behavior: smooth;
  height: 100%
}

body {
  height: 100%;
  width: 100%;
}

h1 {
  font-weight: 500;
  font-size: 124px;
}

progress {
  border: none;
  background: #e4e4e4;
}

.progress::-webkit-progress-bar {
  background: #e4e4e4;
  border-radius: 16px;
}

progress::-webkit-progress-bar {
  background: #e4e4e4;
  border-radius: 16px;
 }

.progress::-webkit-progress-value {
  background: #37C379;
  border-radius: 16px;
}

.progress-custom {
  height:5px;
  border-radius: 8px;
  background: linear-gradient(to right, 
  #42C680 0%, 
  #42C680 calc(33.33% - 2px), 
  white calc(33.33% - 2px), 
  white calc(33.33% + 2px), 
  #ffd027 calc(33.33% + 2px), 
  #ffd027 calc(66.66% - 2px), 
  white calc(66.66% - 2px), 
  white calc(66.66% + 2px), 
  #c585d7 calc(66.66% + 2px), 
  #c585d7 100%
);

 }